
* {
    font-family: "Courier New", monospace;
    font-size: 20px;
}
/*h1 {
    color: red;
}*/
body {
    background-color: skyblue;
}
html {
    scroll-behavior: smooth;
}
/*navigation bar*/
nav {
    background-color: white;
}
/*selector:hover psuedo class*/
/*changes the style when hovered over*/
a:hover {
    background-color: #b4d6de;
}
div {
    display: inline-block;
    float: left;
}
h1 {
    color: yellow;
    text-align: left;
    font-size: 2rem;
}
/*landing section*/
section {
    height: 100vh;
    text-align: left;
}
h2 {
    font-size: 1.5rem;
}
/*ID Selector*/
/*#id-name*/
#zuitt-motto {
    letter-spacing: 5px;
}
h3 {
    letter-spacing: 25px;
}
/*Adjacent Sibling Selector*/
/*selector + selector*/
h3 + img {
    height: 250px;
    width: 250px;
    border-radius: 50px;
}
ol {
    list-style-type: none;
}
/*Class Selector*/
/*.class-name*/
.offering-item {
    text-transform: uppercase;
}
/*Descendant Selector*/
/*selector selector*/
#bootcamp-learning-list li {
    color: #075966;
}
/*General Sibling Selector*/
/*selector ~ selector*/
h2 ~ a {
    text-decoration: none;
}

}
/*Child Selector*/
/*selector > selector*/
body > section > form > label {
    display: block;
    margin-top: 10px;
    color: rgb(0,0,128);
tr {
    color: yellow;
    text-align: left;
    font-size: 2rem;
}
}
/*Attribute Selector*/
/*tagname[attribute]*/
input[required] {
    border-width: 2px;
    border-style: solid;
    border-color: navy;
}